.cardWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
}

.paragraph {
    font-size: 22px;
    color: #C4C5C5;
    line-height: 1.6;
    margin-bottom: 10px;
}
.alreadyregistered {
    color: #0077FF;
    letter-spacing: 0.5px;
}
.signintext {
    color: #0077FF;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
}
